<div class="card cash-card">
    <div class="card-body">
        <div class="text-center">
            <img src="../../assets/images/money.png" class="mx-auto d-block" style="width: 60%; height: 60%;" alt="">
        </div>
        <p class="h4 description mt-3 text-center">CASH ON DEPARTURE</p>
        <p class="text-mutedtext-center">Pay with cash</p>
        <div class="cash-btn">
            <button type="submit" class="btn btn-lg btn-block btn-outline-dark justify-content-center">Pay</button>
        </div>
    </div>
</div>

<div class="card mpesa-card">
    <div class="card-body">
        <div class="text-center">
            <img src="../../assets/images/mpesa.png" class="mx-auto d-block" style="width: 90%; height: 90%;" alt="">
        </div>
        <p class="h4 description text-center">M-PESA</p>
        <p class="text-muted text-center">Pay with MPESA</p>
        <div class="mpesa-btn">
            <button type="submit" class="btn btn-lg btn-block btn-outline-success">Pay</button>
        </div>
    </div>
</div>

<div class="card paypal-card">
    <div class="card-body">
        <div class="text-center">
            <img src="../../assets/images/paypal (1).png" class="mx-auto d-block" style="width: 60%; height: 60%;" alt="">
        </div>
        <p class="h4 description text-center">PAYPAL</p>
        <p class="text-muted text-center">Pay with PayPal</p>
        <div class="paypal-btn">
            <button type="submit" class="btn btn-lg btn-block btn-outline-info">Pay</button>
        </div>
    </div>
</div>
