
.hero {
    background-image: url("src/assets/images-trev/super.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
   
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
    margin-top: 5pc;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 3pc;
}



.container-site {
    position: absolute;
    width: 633px;
    height: 416px;
    top: 156px;
    max-width: 1200px;
    margin-right: 23pc;
    background-color: #f9e531ab;
    /* height: 50%; */
    /* width: 40%; */
    border-radius: 3pc;
}
