<div class="subscribe-section">
    <div style="float: left; margin-right: 20px;">
        <label for="from" class="all-labels">Subscribe to our newsletter</label>
        <input type="text" placeholder="Enter your email address..." class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <div class="book-now-btn-wrapper">
            <button class="btn btn-danger  book-now-btn" type="submit">SUBSCRIBE</button>
        </div>
    </div>
</div>

<div class="reviews-section">
    <div style="float: left; margin-right: 20px;">
        <label for="from" class="all-labels">Leave a review</label>
        <input type="text" placeholder="Review..." class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        <div class="book-now-btn-wrapper">
            <button class="btn btn-danger  book-now-btn" type="submit">SEND REVIEW</button>
        </div>
    </div>
</div>