
    <section class="container content">
        <h2>HAPPY CLIENTS</h2>

        <h1>TESTIMONIALS</h1>


        <div class="testimonials">
            <div class="testimonials-1">
                <div class="container-test">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos libero neque sint fugiat officia
                        nostrum
                        repudiandae, ad sapie officiis dignissimos vero ea quas?</p>
                        <img src="https://cdn.pixabay.com/photo/2021/12/21/08/29/owl-6884773_960_720.jpg" class="avatar"
                        alt="avatar">
                    <div id="text-1">
                        <h3>JOHN DOE</h3>
                        <h4>BUSINESS MAN</h4>
                    </div>

                </div>
            </div>

            <div class="testimonials-2">
                <div class="container-test">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos libero neque sint fugiat officia
                        nostrum
                        repudiandae, ad sapie officiis dignissimos vero ea quas?</p>
                    <img src="https://cdn.pixabay.com/photo/2021/12/21/08/29/owl-6884773_960_720.jpg" class="avatar"
                        alt="avatar">

                </div>
                <div id="text-1">
                    <h3>JOHN DOE</h3>
                    <h4>BUSINESS MAN</h4>
                </div>


            </div>
        </div>

    </section>




    <div class="contact">
        <h1>WE ARE READY TO TAKE YOUR CALL 24HOURS, 7 DAYS !</h1>
        <h1>+25471651651651</h1>
    </div>




<div class="last">

</div>
