
.content h2 {
    text-align: center;
    margin-top: 20pc;
}

.content h1 {
    font-size: 150%;
    margin: 20px 0;
    color: #ff4e00;
    text-align: center;
}

.testimonials-1 {
    width: 533px;
    height: 316px;
    top: 156px;
    max-width: 1200px;
    background-color: #f9e531ab;
    border-radius: 3pc;
}

.testimonials-2 {
    width: 533px;
    height: 316px;
    top: 156px;
    max-width: 1200px;
    background-color: #f9e531ab;
    border-radius: 3pc;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5pc;
}

.testimonials p {
    text-align: center;
    margin: 3pc;

}





.contact {
    border-radius: 40px;
    position: absolute;
    height: 167px;
    left: 55px;
    width: 1200px;
    max-width: 1200px;
    background-color: rgba(249, 229, 49, 0.67);
    border-radius: 3pc;
    margin: 1pc;
}

.contact h1 {
    text-align: center;
    font-weight: 600;
}

#text-1 {
    margin-left: 5pc;
    padding: 0;
    line-height: 5px;
    margin-top: -5pc;
    margin-left: 9pc;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    margin-top: 2pc;
    margin-left: 3pc;
}

.bookers{
    height: 20pc;
    width: 23pc;
    position: relative;
    margin-left: 55pc;
    margin-top: -30pc;
}
.bookers input{
    display: block;
    justify-content: space-between;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: #ff4e00;
}
.bookers button{
    display: block;
    background-color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: #c0392b;
}
.bookers label{
    color: white;
}


.last{
    margin-bottom: 20pc;
}