<p class="text-center h2">SERVICES OFFERED</p>
<div class="card" style="width: 18rem;">
    <img src="../../assets/images/OTHONI.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">EVENTS i.e WEDDING</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="../../assets/images/RODTRIPS.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ROADTRIPS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="../../assets/images/LONGDISTANCE.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">LONG DISTANCE TRIPS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">BOOK NOW</a>
    </div>
</div>