<div class="container-fluid">
    <div class="services-wrapper">
        <p class="text-center h2 service-title">SERVICES OFFERED</p>
    </div>

    <div class="row justify-content-center">

        <div class="col-auto mb-3">
            <div class="card" style="width: 28rem;">
                <img src="../../assets/images/OTHONI.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-description-title">
                        <h3 class="card-title text-center services-name">EVENTS i.e WEDDING</h3>
                    </div>
                    <div class="input-forms">
                        <div style="float: left; margin-right: 20px;">
                            <label for="from" class="all-labels">From</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="to" class="all-labels">To</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="date" class="all-labels">Date</label>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="book-now-btn-wrapper d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-danger  book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 28rem; height: 40rem;">
                <img src="../../assets/images/RODTRIPS.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-center services-name">ROADTRIPS</h3>
                    <div class="input-forms">
                        <div style="float: left; margin-right: 20px;">
                            <label for="from" class="all-labels">From</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="to" class="all-labels">To</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="date" class="all-labels">Date</label>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="book-now-btn-wrapperd-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-danger mt-5 book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card">
                <img src="../../assets/images/LONGDISTANCE.jpeg" class="card-img" style="width: 28rem; height: 35rem; object-fit: cover;" alt="...">
                <div class="card-img-overlay">
                    <div class="long-distance-service">
                        <h3 class="card-title services-name text-center">LONG DISTANCE TRIPS</h3>
                        <div class="input-forms long-distance-forms">
                            <div style="float: left; margin-right: 20px;">
                                <label for="from" class="all-labels">From</label>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div style="float: left; margin-right: 20px;">
                                <label for="to" class="all-labels">To</label>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div style="float: left; margin-right: 20px;">
                                <label for="date" class="all-labels">Date</label>
                                <input type="date" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="book-now-btn-wrapper d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-danger book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>