<div class="container">
    <div class="services-wrapper">
        <p class="text-center h2 service-title">SERVICES OFFERED</p>
    </div>
    
    <div class="row">

        <div class="col-auto mb-3">
            <div class="card" style="width: 25rem;">
                <img src="../../assets/images/OTHONI.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-description-title">
                        <h5 class="card-title services-name">EVENTS i.e WEDDING</h5>
                    </div>
                    <div class="input-forms">
                        <div style="float: left; margin-right: 20px;">
                            <label for="from" class="all-labels">From</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="to" class="all-labels">To</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="date" class="all-labels">Date</label>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="book-now-btn-wrapper">
                        <button class="btn btn-danger  book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="width: 27rem; height: 35rem;">
                <img src="../../assets/images/RODTRIPS.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title services-name">ROADTRIPS</h5>
                    <div class="input-forms">
                        <div style="float: left; margin-right: 20px;">
                            <label for="from" class="all-labels">From</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="to" class="all-labels">To</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="date" class="all-labels">Date</label>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="book-now-btn-wrapper">
                        <button class="btn btn-danger  book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-auto mb-3">
            <div class="card" style="max-width: 30rem; height: 20rem;">
                <img src="../../assets/images/LONGDISTANCE.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title services-name">LONG DISTANCE TRIPS</h5>
                    <div class="input-forms">
                        <div style="float: left; margin-right: 20px;">
                            <label for="from" class="all-labels">From</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="to" class="all-labels">To</label>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="float: left; margin-right: 20px;">
                            <label for="date" class="all-labels">Date</label>
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="book-now-btn-wrapper d-grid gap-2 col-6  mx-auto">
                        <button class="btn btn-danger book-now-btn" type="submit">BOOK NOW</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>