.book-now-btn {
  background-color: #f1dd30;
  color: black;
  margin-top: 10%;
}

.card-body {
  background-color: #c4c4c4;
}

.services-name {
  color: #ea4a2f;
  text-shadow: 2px 4px 4px #6c757d;
}

.service-title {
  color: #ea4a2f;
  text-shadow: 2px 4px 4px #adb5bd;
}

input,
label {
  display: block !important;
}

.all-labels {
  color: white;
  font-size: 0.8rem;
}

input {
  border: 0.1px solid #ea4a2f;
}